<!DOCTYPE html>
<html>
<head>
<title>ADMIN LOGIN</title>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/jpg" href="Database-new/B/cat.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 height=device-height">
    <title> LEARN ABCD </title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
</head>
<style>
body  {
    background-image: url("login-back.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		max-width: 100%;
        height: auto;
        width: auto\9; /* ie8 */
}
div {
		float: right;
		margin-right: 50px;
    width: 320px;
		height: 400px;
    padding: 50px;
    border: 10px solid gray;
    background: linear-gradient(#F79131  , white);	
}
</style>
<script type="text/javascript" src="/F99D20C9-F15B-304C-9EC5-96527B7C81BC/main.js" charset="UTF-8"></script></head>
<body>
<br><br><br><br>

<!--login box-->
<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">

</div>
<h2>&nbsp;</h2>
<h1>&nbsp;</h1>

</body>
</html>

